{% extends "mysite/base.html" %}
{% block title%} О HAC {% endblock %}
{%block content%}
<div class="row mb-1">
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img align="center" src="https://yt3.ggpht.com/a/AGF-l7_Nz4mBHPxcdmGgXQGODJvXOHNZytfFcnlz1A=s900-c-k-c0xffffffff-no-rj-mo" class="img-fluid">
    <span class="text-justify"></span>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-12 desc text-white" >

    <h3><font color="#00BFFF"><br>▍Е.КОЛОТИЛИН</font></h3>
    <blockquote>
      <br>
    <p> Привет! Спасибо что зашли.

      Меня зовут Колотилин Евгений Андреевич, я основатель <strong>Fam Build.</strong></p>

      <p><strong>Fam Build [family builder]</strong> – семейный строитель, готов прийти на помощь и создать атмосферу уюта и тепла в вашем доме.</p>

      <p>Миссия <strong>Fam Build</strong> благородна: созидать, быть полезным обществу, служить людям и оставаться надежным партнером.</p>

      <p>Цель <strong>Fam Build</strong> – создать красивое и функциональное жилое пространство.</p>

    </blockquote>
  </div>
</div>
{%endblock%}
