{% extends "mysite/base.html" %}
{% block title%} О HAC {% endblock %}
{% load static %}
{% block content %}

<div class="row" id="homes">
   <div class="col-12 col-md-6 col-sm-12 mb-3">
    <img align="center" src="{% static 'mysite/image/kol_3.png' %}" class="img-fluid">
   </div>
   <div class="col-12 col-lg-5 col-sm-12 text-light text-left" id="pa">
    <blockquote>
      <h4><font color="#3AC1EF">Е. КОЛОТИЛИН</font></h4>
      <br>
    <p> Привет! Спасибо что зашли.

      Меня зовут Колотилин Евгений Андреевич, я основатель <strong>Fam Build.</strong></p>

      <p><strong>Fam Build [family builder]</strong> – семейный строитель, готов прийти на помощь и создать атмосферу уюта и тепла в вашем доме.</p>

      <p>Миссия <strong>Fam Build</strong> благородна: созидать, быть полезным обществу, служить людям и оставаться надежным партнером.</p>

      <p>Цель <strong>Fam Build</strong> – создать красивое и функциональное жилое пространство.</p>

    </blockquote>
   </div>

<style media="screen">

#homes{
  margin:0 auto;
  padding:0;
  position:relative;
  height:auto;
  width:auto;
}
#homes img{
  filter: contrast(90%);
  display:block;
  border-radius:2px;
  margin:0 auto;
  padding:0;
  height:auto;
  width:auto;
}
#homes p{
  margin:0 auto;
  padding:1em;
  position:relative;
}
#homes h4{
  desplay:inline-block;
  line-height:100%;
  left:0;
  top:0;
  margin:0 auto;
  padding-left:1ex;
  position:relative;
}

blockquote{
  border-left:5px solid #00BFFF;
  margin-top:-8px;
  padding:10px;
  height:100%;
  width:100%;
}
div{
  margin:5px;
  padding:0;
}
#slogan{
  display:none !important;
}

</style>
{%endblock%}
