#base{
  display: flex;
  top:0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color:rgba(0,0,0,.9);
  overflow-x:hidden;

}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
position: relative;
font-size: 16pt;
display: inline-block;
margin:0 auto;
padding:0;

}
.nav-link:hover{
 background: #f4f4f4;
 color: #000000;
 font-style: normal;
 display: block;
}

#navbarSupportedContent div{
  justify-content: center;
  display: block;
  position: relative;
  margin:0 auto;
  padding-right: 3px;

}

#icons{
  height: 100px;
  width: auto;
  top:40%;
  position: fixed;
  margin:15px;
  left: 0;
  padding:5px;
}

#VK img{
  margin:-20px;
  padding: -10px;
  width: 40px;
  height: 40px;
  width: 40px;
  height: 40px;
}
#VK img:hover{
  border:2px solid #00BFFF;
  box-shadow:  0 0 10px rgba(0, 191, 255,1);
  padding: 2px;
}
#YOU img{
  margin:-20px;
  padding: -10px;
  width: 40px;
  height: 40px;
  width: 40px;
  height: 40px;
}
#YOU img:hover{
  border:2px solid #8B0000;
  box-shadow:  0 0 10px rgba(139, 0, 0,1);
  padding: 2px;
}
#INST img{
  margin:-20px;
  padding: -10px;
  width: 40px;
  height: 40px;
  width: 40px;
  height: 40px;
}
#INST img:hover{
  border:2px solid #EE82EE;
  box-shadow:  0 0 10px rgba(238, 130, 238,1);
  padding: 2px;
}

#home{
  margin: 0 auto;
  padding: 50px;
  display: block;
  background-color:rgba(0,0,0,.7);
}
