{% extends "mysite/base.html" %}
{% block title %}УСЛУГИ{% endblock %}

{% block content %}


	<div class="row-sm">

{% for service in servic %}

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<strong>
		<h3><p>{{forloop.parentloop.counter}}</p></h3>
				</strong>
			</div>

				<div class="service_1 col-md-8 offset-md-2" style="background:#000000">

					<strong>
						<blockquote class="blockquote">
						<div class = "service text-center text-warning">
						<h3> <p class="mb-3">{{service.title|linebreaks}}</p></h3>
					</div>
						<br>
						<div class = "col-md-10 offset-md-2 text-justify text-light">
						<h5><p>{{service.text|linebreaks}}</p></h5>
						</div>
						</blockquote>
					</strong>
				</div>

			</div>


{% endfor %}

</div>

{% endblock content %}
